$color-background-light: #e0e0e0;
$color-background-dark: #121212;
$color-card-dark: #1e1e1e;
$color-card-light: #ffffff;
$color-text-dark: #fff;
$color-text-light: darken($color-background-dark, 10%);
$color-primary-med: #29b5a8;
$color-primary-light: lighten($color-primary-med, 10%);
$color-primary-dark: darken($color-primary-med, 10%);
$color-secondary-dark: #ff723f;

/* toggle colors */

// Colors
$brand-primary: #29b5a8;
$brand-secondary: #ff8300;
$gray: #6b7381;
$gray-light: lighten($gray, 15%);
$gray-lighter: lighten($gray, 30%);

// Button Colors
$btn-default-color: $gray;
$btn-default-bg: $gray-lighter;

// Toggle Sizes
$toggle-default-size: 2rem;
$toggle-default-label-width: 4rem;
$toggle-default-font-size: 1.3rem;

body {
	&.light-mode {
		background-color: $color-background-light;

		#sidebarCollapse {
			color: $color-primary-dark;
		}
		.pac-container {
			background-color: $color-text-dark;
		}
		.pac-item {
			color: $color-text-light;
		}
		.pac-item-query {
			color: $color-text-light;

			.pac-matched {
				color: $color-primary-med;
			}
		}
		#locationSearch {
			color: $color-text-light;
		}
		.chartsView .card,
		.chartsViewMobile .card {
			background-color: $color-card-light;

			.card-title {
				color: $color-card-light;
			}
		}
		ul.components {
			p {
				color: $color-text-dark;
			}
			li {
				&.active > a {
					color: $color-text-light;
				}
			}
		}
		.daysList {
			.nav-item {
				a {
					color: $color-text-light;
					&.active {
						border-bottom: 2px solid $color-primary-dark;
						color: $color-text-light;
					}
				}
			}
		}
	}
	&.dark-mode {
		background-color: $color-background-dark;

		#sidebarCollapse {
			color: $color-text-light;
		}
		.pac-container {
			background-color: #212121;
		}
		.pac-item {
			color: $color-text-dark;
		}
		.pac-item-query {
			color: $color-text-dark;

			.pac-matched {
				color: $color-primary-med;
			}
		}
		#locationSearch {
			color: $color-text-dark;
		}
		.chartsView .card,
		.chartsViewMobile .card {
			background-color: $color-card-dark;
			.card-title {
				color: $color-text-dark;
			}
		}
		#sidebar {
			color: $color-text-dark;
			background-color: $color-card-dark;
		}
		.navbar {
			color: $color-text-dark;
			background-color: $color-card-dark;
		}
		.card-category {
			color: $color-text-dark;
		}
		.singleWrapper_title {
			color: $color-primary-med;
		}
		ul.components {
			p {
				color: $color-text-dark;
			}
			li {
				&.active > a {
					color: $color-text-dark;
				}
			}
		}
		.daysList {
			.nav-item {
				a {
					color: $color-text-dark;
					&.active {
						border-bottom: 2px solid $color-primary-med;
						color: $color-text-dark;
					}
				}
			}
		}
	}
}

html,
body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

#content {
	width: 100%;
	min-height: 100vh;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	right: 0;

	&.active {
		width: calc(100% - 250px);
	}
}
.navbar {
	left: 0;
	transition: all 0.3s;

	&.active {
		left: 250px;
	}
}
#sidebarCollapse {
	padding: 12px 5px;
	margin-right: 15px;
}
#titleContainer,
#titleContainerMobile {
	margin-top: 20px;
}
.pac-container {
	z-index: 1099 !important;
}
.custom-fixed {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
}
.chartsView,
.chartsViewMobile {
	margin-top: 75px;
}

.chartsView {
	.custom-sidebar {
		top: 83px;
		padding: 0;
		display: none;

		#favoritesConatiner a {
			font-size: 0.8rem;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;

			&:hover {
				background-color: rgba(255, 255, 255, 0.3) !important;
			}
		}
	}
}

.pac-item-selected {
	background-color: rgba(255, 255, 255, 0.1);
	&:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
}
.pac-item {
	border: none;
	padding: 5px;
	&:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
}
.pac-icon {
	display: none;
}

.pac-logo:after {
	display: none;
}

.logo {
	width: 80px;
	height: auto;
}

/* Side Nav styles */
.wrapper {
	display: flex;
	width: 100%;
}

#sidebar {
	width: 250px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 999;
	transition: all 0.3s;
	margin-left: -250px;
	&.active {
		margin-left: 0;
	}
	.listHeader {
		font-size: 1.2em;
		padding: 0px 5px;
	}
	.sidebar-header {
		padding: 20px;
	}
	ul.components {
		padding: 20px 0;

		p {
			padding: 10px;
			border-bottom: 1px solid #676767;
		}
		li {
			a {
				padding: 6px 3px 8px 8px;
				display: block;
				&:hover {
					color: $color-primary-med;
					margin-left: 2px;
				}
			}
		}
	}
	.options {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		margin-bottom: 5px;
	}
}

/* tab card styles */
.nav-link {
	padding: .5rem .8rem;
}
.daysList {
	.nav-item {
		a {
			background: none;
			border: none;

			&.active {
				border-bottom: 1px solid #fff;
				background: none;
			}
		}
	}
	&.nav-tabs {
		border-bottom: none;
	}
}

.daysChart {
	padding: 15px 5px;
	min-height: 275px;
}
.card.card-image {
	width: 100%;
	background-position: center;
	background-size: cover;
}
.card.card-image [class*="rgba-"] {
	border-radius: .25rem;
}
.rgba-stylish-strong {
	background-color: rgba(62, 69, 81, 0.7);
}

.md-form input:not([type]):focus:not([readonly]),
.md-form input[type="text"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="password"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="email"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="url"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="time"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="date"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="datetime"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="tel"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="number"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="search"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="search-md"]:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
	border-bottom: 1px solid $color-primary-med;
	-webkit-box-shadow: 0 1px 0 0 $color-primary-med;
	box-shadow: 0 1px 0 0 $color-primary-med;
}

/* switch styles */

%toggle-color {
	color: $btn-default-color;
	background: $btn-default-bg;
	&:before,
	&:after {
		color: $btn-default-color;
	}
	&.active {
		background-color: $brand-primary;
	}
}

%toggle-mixin {
	margin: 0 $toggle-default-label-width;
	padding: 0;
	position: relative;
	border: none;
	height: $toggle-default-size;
	width: $toggle-default-size * 2;
	border-radius: $toggle-default-size;
	overflow: visible;

	&:focus,
	&.focus {
		&,
		&.active {
			outline: none;
		}
	}

	&:before,
	&:after {
		line-height: $toggle-default-size;
		width: $toggle-default-label-width;
		text-align: center;
		font-weight: 600;
		color: $color-text-dark;
		font-size: $toggle-default-font-size;
		text-transform: uppercase;
		letter-spacing: 2px;
		position: absolute;
		bottom: 0;
		transition: opacity .25s;
	}
	&:before {
		content: '°F';
		left: -$toggle-default-label-width;
	}
	&:after {
		content: '°C';
		right: -$toggle-default-label-width;
		opacity: .5;
	}

	> .handle {
		position: absolute;
		top: ($toggle-default-size * .25) / 2;
		left: ($toggle-default-size * .25) / 2;
		width: $toggle-default-size * .75;
		height: $toggle-default-size * .75;
		border-radius: $toggle-default-size * .75;
		background: #fff;
		transition: left .25s;
	}
	&.active {
		transition: background-color .25s;
		> .handle {
			left: $toggle-default-size + (($toggle-default-size * .25) / 2);
			transition: left .25s;
		}
		&:before {
			opacity: .5;
		}
		&:after {
			opacity: 1;
		}
	}
}
// Apply Mixin to different sizes & colors
.btn-toggle {
	@extend %toggle-mixin;
	@extend %toggle-color;
}

.loadingOverlayBox {
	overflow: hidden;

	.loadingOverlay {
		background: rgba(0, 0, 0, .7);
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: none;
		z-index: 10;
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transition: 350ms ease-out;
		-moz-transition: 350ms ease-out;
		-o-transition: 350ms ease-out;
		transition: 350ms ease-out;
	}
	.loadingOverlayCnt {
		position: fixed;
		width: 60px;
		height: 60px;
		color: #fff;
		font-size: 50px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		display: none;
		user-select: none;
		-webkit-transition: 350ms ease-out;
		-moz-transition: 350ms ease-out;
		-o-transition: 350ms ease-out;
		transition: 350ms ease-out;
		opacity: 0;
		filter: alpha(opacity=0);
		-ms-transform: translate(0, 200%);
		-webkit-transform: translate(0, 200%);
		transform: translate(0, 200%);
		z-index: 11;
	}
	&.loadingOverlayDisplay {
		.loadingOverlay,
		.loadingOverlayCnt {
			display: block;
		}
		&.dspOverlay {
			.loadingOverlay {
				opacity: 1;
				filter: alpha(opacity=100);
			}
		}
		&.loadingOverlayAnimate {
			.loadingOverlayCnt {
				opacity: 1;
				filter: alpha(opacity=100);
				-ms-transform: translate(0, 0);
				-webkit-transform: translate(0, 0);
				transform: translate(0, 0);
			}
		}
	}
}

@media (max-width: 768px) {
	#content {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	#content.active {
		width: 100%;
		margin-left: 250px;
		margin-right: -250px;
	}
}
@media (min-width: 576px) {
	.navbar .searchContainer {
		width: 50%;
	}
}
@media (max-width: 576px) {
	.navbar .searchContainer {
		width: 100%;
	}
	.navbar .searchContainer input#locationSearch {
		border-bottom: 0px solid transparent;
	}
	.pac-container {
		width: 100% !important;
		left: 0px !important;
	}
}
