/*    
#1C4E80
#FFFFFF
#EA6A47
#A5D8DD
#1599D8
#D9DFE2

#333333
#4E4E56
*/
html,
body {
	height: 100%;
	background-color: #333333;
}
.cardTheme-title {
	background-color: #272727 !important;
	color: #fff !important;
}
.cardTheme-dark {
	background-color: #4e4e56 !important;
	color: #fff !important;
}
.navbar {
	background-color: #fff;
	left: 250px;
	transition: all 0.3s;
}
.navbar.active {
	left: 0;
}

#sidebarCollapse {
	color: #fff;
	padding: 12px 5px;
	margin-right: 15px;
}
/* #locationSearch::-webkit-input-placeholder {
	color: #bbb;
} */
#titleContainer {
	margin-top: 20px;
}
.pac-container {
	z-index: 1099 !important;
}
.custom-fixed {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
}
.chartsView {
	margin-top: 75px;
}
.chartsView .custom-sidebar {
	top: 83px;
	padding: 0;
	display: none;
}
.chartsView .custom-sidebar #favoritesConatiner a {
	font-size: 0.8rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.chartsView .custom-sidebar #favoritesConatiner a:hover {
	background-color: rgba(255, 255, 255, 0.3) !important;
}
.md-form input:not([type]):focus:not([readonly]),
.md-form input[type="text"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="password"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="email"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="url"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="time"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="date"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="datetime"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="tel"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="number"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="search"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="search-md"]:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #1599d8;
	-webkit-box-shadow: 0 1px 0 0 #1599d8;
	box-shadow: 0 1px 0 0 #1599d8;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.progress {
	width: 150px;
	height: 150px;
	background: none;
	position: relative;
}

.progress::after {
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 6px solid #eee;
	position: absolute;
	top: 0;
	left: 0;
}

.progress > span {
	width: 50%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 1;
}

.progress .progress-left {
	left: 0;
}

.progress .progress-bar {
	width: 100%;
	height: 100%;
	background: none;
	border-width: 6px;
	border-style: solid;
	position: absolute;
	top: 0;
}

.progress .progress-left .progress-bar {
	left: 100%;
	border-top-right-radius: 80px;
	border-bottom-right-radius: 80px;
	border-left: 0;
	-webkit-transform-origin: center left;
	transform-origin: center left;
}

.progress .progress-right {
	right: 0;
}

.progress .progress-right .progress-bar {
	left: -100%;
	border-top-left-radius: 80px;
	border-bottom-left-radius: 80px;
	border-right: 0;
	-webkit-transform-origin: center right;
	transform-origin: center right;
}

.progress .progress-value {
	position: absolute;
	top: 0;
	left: 0;
}

.pac-container {
	background-color: #212121;
}
.pac-item:hover,
.pac-item-selected,
.pac-item-selected:hover {
	background-color: rgba(255, 255, 255, 0.3);
}
.pac-item {
	border: none;
	padding: 5px;
	color: #fff;
}
.hdpi .pac-icon {
	display: none;
}
.pac-item-query {
	color: #fff;
}

.pac-item-query .pac-matched {
	color: #79d279;
}

.hdpi.pac-logo:after {
	display: none;
}

/* Side Nav styles */
.wrapper {
	display: flex;
	width: 100%;
}

#sidebar {
	width: 250px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	z-index: 999;
	background: #4e4e56;
	color: #fff;
	transition: all 0.3s;
}

#sidebar.active {
	margin-left: -250px;
}

#sidebar .sidebar-header {
	padding: 20px;
}

#sidebar ul.components {
	padding: 20px 0;
}

#sidebar ul p {
	color: #fff;
	padding: 10px;
}

#sidebar ul li a {
	padding: 6px 5px;
	display: block;
}

#sidebar ul li a:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
	color: #fff;
}
#content {
	width: calc(100% - 250px);
	padding: 40px;
	min-height: 100vh;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	right: 0;
}
#content.active {
	width: 100%;
}
@media (min-width: 576px) {
	.navbar .searchContainer {
		width: 50%;
	}
}
@media (max-width: 576px) {
	.navbar .searchContainer {
		width: 100%;
	}
	.navbar .searchContainer input#locationSearch {
		border-bottom: 0px solid transparent;
	}
	.pac-container {
		width: 100% !important;
		left: 0px !important;
	}
}
