@charset "UTF-8";
/* toggle colors */
body.light-mode {
  background-color: #e0e0e0;
}

body.light-mode #sidebarCollapse {
  color: #208b81;
}

body.light-mode .pac-container {
  background-color: #fff;
}

body.light-mode .pac-item {
  color: black;
}

body.light-mode .pac-item-query {
  color: black;
}

body.light-mode .pac-item-query .pac-matched {
  color: #29b5a8;
}

body.light-mode #locationSearch {
  color: black;
}

body.light-mode .chartsView .card,
body.light-mode .chartsViewMobile .card {
  background-color: #ffffff;
}

body.light-mode .chartsView .card .card-title,
body.light-mode .chartsViewMobile .card .card-title {
  color: #ffffff;
}

body.light-mode ul.components p {
  color: #fff;
}

body.light-mode ul.components li.active > a {
  color: black;
}

body.light-mode .daysList .nav-item a {
  color: black;
}

body.light-mode .daysList .nav-item a.active {
  border-bottom: 2px solid #208b81;
  color: black;
}

body.dark-mode {
  background-color: #121212;
}

body.dark-mode #sidebarCollapse {
  color: black;
}

body.dark-mode .pac-container {
  background-color: #212121;
}

body.dark-mode .pac-item {
  color: #fff;
}

body.dark-mode .pac-item-query {
  color: #fff;
}

body.dark-mode .pac-item-query .pac-matched {
  color: #29b5a8;
}

body.dark-mode #locationSearch {
  color: #fff;
}

body.dark-mode .chartsView .card,
body.dark-mode .chartsViewMobile .card {
  background-color: #1e1e1e;
}

body.dark-mode .chartsView .card .card-title,
body.dark-mode .chartsViewMobile .card .card-title {
  color: #fff;
}

body.dark-mode #sidebar {
  color: #fff;
  background-color: #1e1e1e;
}

body.dark-mode .navbar {
  color: #fff;
  background-color: #1e1e1e;
}

body.dark-mode .card-category {
  color: #fff;
}

body.dark-mode .singleWrapper_title {
  color: #29b5a8;
}

body.dark-mode ul.components p {
  color: #fff;
}

body.dark-mode ul.components li.active > a {
  color: #fff;
}

body.dark-mode .daysList .nav-item a {
  color: #fff;
}

body.dark-mode .daysList .nav-item a.active {
  border-bottom: 2px solid #29b5a8;
  color: #fff;
}

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

#content {
  width: 100%;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: calc(100% - 250px);
}

.navbar {
  left: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar.active {
  left: 250px;
}

#sidebarCollapse {
  padding: 12px 5px;
  margin-right: 15px;
}

#titleContainer,
#titleContainerMobile {
  margin-top: 20px;
}

.pac-container {
  z-index: 1099 !important;
}

.custom-fixed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.chartsView,
.chartsViewMobile {
  margin-top: 75px;
}

.chartsView .custom-sidebar {
  top: 83px;
  padding: 0;
  display: none;
}

.chartsView .custom-sidebar #favoritesConatiner a {
  font-size: 0.8rem;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.chartsView .custom-sidebar #favoritesConatiner a:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.pac-item-selected {
  background-color: rgba(255, 255, 255, 0.1);
}

.pac-item-selected:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.pac-item {
  border: none;
  padding: 5px;
}

.pac-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.pac-icon {
  display: none;
}

.pac-logo:after {
  display: none;
}

.logo {
  width: 80px;
  height: auto;
}

/* Side Nav styles */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: -250px;
}

#sidebar.active {
  margin-left: 0;
}

#sidebar .listHeader {
  font-size: 1.2em;
  padding: 0px 5px;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul.components p {
  padding: 10px;
  border-bottom: 1px solid #676767;
}

#sidebar ul.components li a {
  padding: 6px 3px 8px 8px;
  display: block;
}

#sidebar ul.components li a:hover {
  color: #29b5a8;
  margin-left: 2px;
}

#sidebar .options {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 5px;
}

/* tab card styles */
.nav-link {
  padding: .5rem .8rem;
}

.daysList .nav-item a {
  background: none;
  border: none;
}

.daysList .nav-item a.active {
  border-bottom: 1px solid #fff;
  background: none;
}

.daysList.nav-tabs {
  border-bottom: none;
}

.daysChart {
  padding: 15px 5px;
  min-height: 275px;
}

.card.card-image {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.card.card-image [class*="rgba-"] {
  border-radius: .25rem;
}

.rgba-stylish-strong {
  background-color: rgba(62, 69, 81, 0.7);
}

.md-form input:not([type]):focus:not([readonly]),
.md-form input[type="text"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="password"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="email"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="url"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="time"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="date"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="datetime"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="tel"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="number"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="search"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="search-md"]:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #29b5a8;
  -webkit-box-shadow: 0 1px 0 0 #29b5a8;
  box-shadow: 0 1px 0 0 #29b5a8;
}

/* switch styles */
.btn-toggle {
  color: #6b7381;
  background: #bdc1c8;
}

.btn-toggle:before, .btn-toggle:after {
  color: #6b7381;
}

.active.btn-toggle {
  background-color: #29b5a8;
}

.btn-toggle {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 2rem;
  width: 4rem;
  border-radius: 2rem;
  overflow: visible;
}

.btn-toggle:focus, .btn-toggle:focus.active, .focus.btn-toggle, .focus.active.btn-toggle {
  outline: none;
}

.btn-toggle:before, .btn-toggle:after {
  line-height: 2rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  -webkit-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s;
}

.btn-toggle:before {
  content: '°F';
  left: -4rem;
}

.btn-toggle:after {
  content: '°C';
  right: -4rem;
  opacity: .5;
}

.btn-toggle > .handle {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background: #fff;
  -webkit-transition: left .25s;
  -o-transition: left .25s;
  transition: left .25s;
}

.active.btn-toggle {
  -webkit-transition: background-color .25s;
  -o-transition: background-color .25s;
  transition: background-color .25s;
}

.active.btn-toggle > .handle {
  left: 2.25rem;
  -webkit-transition: left .25s;
  -o-transition: left .25s;
  transition: left .25s;
}

.active.btn-toggle:before {
  opacity: .5;
}

.active.btn-toggle:after {
  opacity: 1;
}

.loadingOverlayBox {
  overflow: hidden;
}

.loadingOverlayBox .loadingOverlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 10;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 350ms ease-out;
  -moz-transition: 350ms ease-out;
  -o-transition: 350ms ease-out;
  transition: 350ms ease-out;
}

.loadingOverlayBox .loadingOverlayCnt {
  position: fixed;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 50px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 350ms ease-out;
  -moz-transition: 350ms ease-out;
  -o-transition: 350ms ease-out;
  transition: 350ms ease-out;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-transform: translate(0, 200%);
  -webkit-transform: translate(0, 200%);
  transform: translate(0, 200%);
  z-index: 11;
}

.loadingOverlayBox.loadingOverlayDisplay .loadingOverlay,
.loadingOverlayBox.loadingOverlayDisplay .loadingOverlayCnt {
  display: block;
}

.loadingOverlayBox.loadingOverlayDisplay.dspOverlay .loadingOverlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.loadingOverlayBox.loadingOverlayDisplay.loadingOverlayAnimate .loadingOverlayCnt {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

@media (max-width: 768px) {
  #content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #content.active {
    width: 100%;
    margin-left: 250px;
    margin-right: -250px;
  }
}

@media (min-width: 576px) {
  .navbar .searchContainer {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .navbar .searchContainer {
    width: 100%;
  }
  .navbar .searchContainer input#locationSearch {
    border-bottom: 0px solid transparent;
  }
  .pac-container {
    width: 100% !important;
    left: 0px !important;
  }
}
