/*    
#247BA0
#70C1B3
#B2DBBF
#F3FFBD
#FF1654
*/

#locationSearch::-webkit-input-placeholder {
	color: #bbb;
}
.chartsView {
	margin-top: 75px;
}
.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999;
}
.sticky-top {
    top: 95px;
}
